<!-- Navbar Start -->
<div class="container">
  <div class="nav justify-content-center">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand"
        ><img
          src="https://fontmeme.com/permalink/210924/c7f170887e72348eab7952711d9e0468.png"
          alt="graffiti-creator"
          border="0"
        />
      </a>
    </nav>
    <p>Open in desktop for better experience</p>
  </div>
</div>

<!-- Navbar Ends -->

<!-- Main Content Starts -->
<div class="container">
  <hr />
  <div class="jumbotron">
    <nav class="navbar navbar-light bg-light test">
      <div class="container-fluid justify-content-center">
        <div class="row">
          <div class="col">
            <a
              class="navbar-brand button"
              routerLink="/cgpa"
              routerLinkActive="active"
              >CGPA</a
            >
          </div>
          <div class="col">
            <a
              class="navbar-brand button"
              routerLink="/sgpa"
              routerLinkActive="active"
              >SGPA</a
            >
          </div>
        </div>
      </div>
    </nav>
    <hr />
    <div class="center">
      <router-outlet></router-outlet>
    </div>
    <hr />
    <!-- Main content Ends -->

    <!-- Footer Starts -->
    <p>Copyright {{ year }} ycodex</p>
  </div>
</div>
<!-- Footer ends -->
