<!-- Navbar Start -->
<div class="container">
  <div class="nav justify-content-center">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand">VTU GPA CALCULATOR </a>
    </nav>
  </div>
</div>

<!-- Navbar Ends -->

<!-- Main Content Starts -->
<div class="container">
  <hr />
  <div class="jumbotron">
    <nav class="navbar navbar-light bg-light test">
      <div class="container-fluid justify-content-center test">
        <a class="navbar-brand" routerLink="/sgpa" routerLinkActive="active"
          >SGPA</a
        >

        <a class="navbar-brand" routerLink="/cgpa" routerLinkActive="active"
          >CGPA</a
        >
      </div>
    </nav>
    <hr />
    <div class="center">
      <router-outlet></router-outlet>
    </div>
    <hr />
    <!-- Main content Ends -->

    <!-- Footer Starts -->
    <p>Copyright {{ year }} ycodex</p>
  </div>
</div>
<!-- Footer ends -->
