<select
  class="form-select form-select-lg mb-3"
  aria-label=".form-select-lg example"
  name="cmbTipoTexto"
  disabled
>
  <option selected disabled>
    Select Branch (coming soon , currently supported Computer science)
  </option>
</select>
<select
  class="form-select form-select-lg mb-3"
  aria-label=".form-select-lg example"
  name="cmbTipoTexto"
  aria-placeholder="Select Scheme(Coming soon)"
  disabled
>
  <option selected disabled>
    Select scheme (coming soon, currently supported only for 2017)
  </option>
</select>

<select
  class="form-select form-select-lg mb-3"
  aria-label=".form-select-lg example"
  (change)="handleChange($event.target)"
  name="cmbTipoTexto"
>
  <option *ngFor="let item of textTypes" [value]="item.key">
    {{ item.value }}
  </option>
</select>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Subject</th>
      <th scope="col">Marks</th>
      <th scope="col">Credit</th>
    </tr>
  </thead>
  <tbody *ngIf="selectedSem == null">
    <tr>
      <th scope="row">Display code</th>
      <td>Display subject</td>
      <td>Input marks</td>
      <td>Display credit</td>
    </tr>
  </tbody>
  <tbody>
    <tr *ngFor="let sub of selectedSem; let i = index">
      <th scope="row">{{ sub.code }}</th>
      <td>{{ sub.subject }}</td>
      <td>
        <input value="{{ sub.marks }}" [(ngModel)]="marks[i]" />
      </td>
      <td>{{ sub.credit }}</td>
    </tr>
  </tbody>
</table>
<div class="row g-3 align-items-center">
  <button
    type="button"
    class="btn btn-primary btn-lg align-items-center"
    (click)="calculate()"
  >
    Calculate
  </button>
</div>
<div class="row g-3 align-items-center">
  <div class="col-auto">
    <label class="col-form-label"><h1>SGPA</h1></label>
  </div>
  <div class="col-auto">
    <input
      type="number"
      class="form-control form-control-lg"
      value="{{ sgpa }}"
      disabled
    />
  </div>
</div>
